# Ignore everything
*

# But these files
!.gitignore
!package.xml
!setup.cfg
!setup.py

# And these subdirectories
!tests/
!tests/*.py
!tests/app/
!tests/app/*.py
!tests/app/components/
!tests/app/components/*.py

!tests/domain/
!tests/domain/*.py
!tests/infraestructure/
!tests/infraestructure/*.py

!launch/
!launch/*.launch
!launch/*.launch.py

!resource/
!resource/tests

!test/
!test/*.py
