# Ignore everything
*

# But these files
!.gitignore
!package.xml
!setup.cfg
!setup.py

# And these subdirectories
!gui/
!gui/*.py
!gui/app/
!gui/app/*.py

!gui/app/canvas/
!gui/app/canvas/*.py
!gui/app/canvas/robot/
!gui/app/canvas/robot/*.py

!gui/app/menu/
!gui/app/menu/*.py

!gui/app/side_panel/
!gui/app/side_panel/*.py

!gui/config/
!gui/config/*.py
!gui/config/*.yaml

!gui/controllers/
!gui/controllers/*.py

!gui/domain/
!gui/domain/*.py

!gui/resources/
!gui/resources/*.png
!gui/resources/*.py

!gui/infraestructure/
!gui/infraestructure/*.py

!resource/
!resource/gui

!test/
!test/*.py