# Ignore everything
*

# But these files
!.gitignore
!package.xml
!setup.cfg
!setup.py

# And these subdirectories
!gui/
!gui/*.py
!gui/app/
!gui/app/*.py
!gui/config/
!gui/config/*.yaml
!gui/domain/
!gui/domain/*.py
!gui/resources/
!gui/resources/*.png

!resource/
!resource/gui

!test/
!test/*.py