# Ignore everything
*

# But these files
!.gitignore
!CMakeLists.txt
!package.xml

# And these subdirectories
!action/
!action/*.action

!msg/
!msg/*.msg

!include/
!include/interfaces/

!srv/
!srv/*.srv
