# Ignore everything
*

# But these files
!.gitignore
!CMakeLists.txt
!package.xml

# And these subdirectories
!config/
!config/*.yaml

!include/
!include/controller/

!launch/
!launch/*.py
!launch/*.launch

!src/
!src/*.cpp